---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <header class="shadow-xl bg-base-100 z-10 relative">
        <Navbar />
    </header>
    <main class="flex-grow flex flex-wrap lg:flex-nowrap gap-8 p-8 bg-base-300">

    </main>
    <footer class="bg-neutral text-neutral-content">
        <Footer />
    </footer>
</Layout>
