---
import MainLogo from "@/assets/icons/MainLogo";
import * as config from "@root/config.json";

const { projectName = config.PROJECT_NAME } = Astro.props;

const currentYear = new Date().getFullYear();
---

<footer class="footer grid-flow-row gap-0">
    <div class="grid md:grid-cols-2 w-full gap-8 bg-base-200 text-base-content p-4 shadow-2xl">
        <nav class="grid grid-cols-5 gap-8 m-auto md:ml-0 p-2">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </nav>
        <div class="flex text-center md:justify-self-end p-2">
            <p>
                Copyright © {currentYear} - All rights reserved by {projectName}
            </p>
        </div>
    </div>
</footer>
